.botao3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: #39f743;
}


body{
    
    width: 50vw;
    height: 140vw;
    background-image: url("fundo.jpeg");
    background-size: 100%;
    

}
